<p style="margin:20px 0; color:#9f9f9f; font-size:12px;">
<span>Posted by <a style="color:#9f9f9f;" href="<%= theme.weibo.link %>"><strong><%= theme.weibo.name %></strong></a> - <%= item.date.format(config.date_format) %></span><br />
<span style="line-height:13px;">如需转载，请注明： 本文来自 <a style="color:#9f9f9f;" href="<%= config.url %>"><strong><%= config.title %></strong></a></span>
</p>